.main {
  display: grid;
  margin-bottom: var(--space-xx-large);
  margin-top: var(--space-xx-large);
}

@media(min-width: 64em) {

  .main {
    margin-bottom: var(--space-xxxx-large);
    margin-top: var(--space-xxxx-large);
  }

}
